.custom-notification-dropdown {
    .dropdown-toggle {
        width: 40px;
        height: 40px;
        padding: 0;
        box-shadow: none;
        border: 0 !important;
        color: #000 !important;
        background: rgb(202, 172, 23) !important;
        border-radius: 50% !important;

        &:focus {
            box-shadow: none !important;
        }

        &:active {
            background: none;
        }

        &:after {
            display: none;
        }

        .title-container {
            position: relative;

            .title-text {
                position: absolute;
                top: -15px;
                right: -10px;
                font-size: 13px;
                background: #d63384;
                padding: 2px 5px;
                border-radius: 5px;
                color: #fff;
            }
        }
    }

    .dropdown-menu {
        padding: 0;
        min-width: 300px !important;
        border-radius: 4px;
        border: 0 !important;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;

        .dropdown-body {
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;

            .dropdown-item {
                color: #6c757d;
                font-size: 13px;
                padding: 15px;
                transition: 0.3s all;
                font-weight: 400;
                text-transform: capitalize;
                border-bottom: 1px solid #6c757d1e;

                &:hover {
                    color: #000;
                    background: #6c757d11;
                    border-bottom: 1px solid #6c757d11;
                }
            }
        }
    }

    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: rgb(253, 217, 42) #ffffff;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(253, 217, 42);
        border-radius: 10px;
        border: 3px solid #ffffff;
    }
}
